@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

html,body{
    height:100%;
    width:100%;
    color: white;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid{
   margin: 3rem;
}
.container{
    background-color: white;
    height: 720px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
}

.title{
    font-family: "Limelight";
    font-size: 64px;
}

